<!-- search component -->

<mat-card class="list-card">
    <mat-card-header class="card-heading">
        <mat-card-title>{{listTitle}}</mat-card-title>
        <p mat-card-subtitle>
            Options selected: {{selectionList.selectedOptions.selected.length}}
        </p>
    </mat-card-header>

    <mat-card-content class="list-card-content">
        <mat-form-field class="searchBar">
            <mat-icon matPrefix mat-icon-button>search</mat-icon>
            <mat-label>Search</mat-label>
            <input class="searchInput" matInput [(ngModel)]="searchText" (input)="filterItems()">
            
        </mat-form-field>

        <div *ngIf="isLoading else listView">
            <mat-spinner></mat-spinner>
        </div>

        <form [formGroup]="listForm">
            <mat-selection-list formControlName="selectedListItem" #selectionList>
                <ng-template #listView>
                    <mat-list-option *ngFor="let list of displayData" [value]="list" [checkboxPosition]="'before'"
                        [color]="'primary'">

                        <ng-container *ngIf="listTitle === 'MANAGE PAYMENTS'">
                            <mat-list-item>
                                <div style="float: left;">{{list?.status}}</div>
                                <div style="float: right;">{{list?.count}}</div>
                            </mat-list-item>
                        </ng-container>

                        <ng-container *ngIf="listTitle === 'MANAGE COUNTRIES'">
                            <mat-list-item>
                                <div style="float: left; display: flex;">
                                    <img matListItemAvatar class="imgAvatar" [src]="list?.flag" alt={{list?.name}} />
                                    <span matListItemTitle>{{list?.name}} . {{list?.code}}</span>
                                </div>

                                <div style="float: right;">
                                    <div matListItemLine>{{list?.someWeirdServerFieldNameWithCount}}</div>
                                </div>

                            </mat-list-item>
                        </ng-container>

                        <ng-container *ngIf="listTitle === 'MANAGE TEAM'">
                            <mat-list-item>
                                <div style="float: left;">
                                    <div matListItemTitle class="user-name">{{list?.firstName}} {{list?.lastName}}</div>
                                    <div matListItemLine class="user-email">{{list?.email}}</div>
                                </div>

                                <div style="float: right;"><img class="user_img" [src]="list?.avatarUrl"
                                        alt={{list?.firstName}} /></div>

                            </mat-list-item>
                        </ng-container>
                    </mat-list-option>
                </ng-template>
            </mat-selection-list>
        </form>
    </mat-card-content>

    <mat-card-footer>
        <button mat-icon-button mat-flat-button class="continue-button"
            (click)="getSelectedValue(selectionList)">Continue -></button>
    </mat-card-footer>
</mat-card>