@import "../../../styles.scss";

mat-card {
    margin: 0 auto;
    width: 50%;
    background-color: $lavender;
    color: $violet;
    padding: 20px;

    mat-card-subtitle {
        background-color: $lavender;
        color: $violet;
        padding-bottom: 40px;
    }

    .item-img {
        width: 100px;
        border-radius: 50%;
        border: 1px solid $orchid;
    }

    .item-name {
        font-size: 20px;
    }

    mat-card-footer {
        padding: 20px 0;
        margin-top: 40px;
    }
}