@import "../../../styles.scss";

mat-card {
    margin: 0 auto;
    width: 50%;
    background-color: $lavender;
    color: $violet;
    padding: 20px;

    mat-card-content{
        display: flex;
    }
    .item-img {
        width: 60px;
        height: 60px;
        border: 1px solid $orchid;
        margin-right: 20px;
    }

    .selected-item {
        margin-top: 5px;
        font-size: 20px;

        .item-name {
            font-weight: bolder;
        }
    }

    mat-card-footer {
        padding: 20px 0;
        margin-top: 40px;
    }
}