/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
}
// colors 
$lavender: #E6E6FA;
$violet: #8000ffc3;
$lightViolet: #CF9FFF;
$darkViolet: #BF40BF;
$orchid: #CCCCFF;
$fuchsia: #F0F;

$gray: #B2BABB;
$lightGray: #dee2e3;
$darkGray: #646869;

